page-cadastro {
  *{overflow-y: hidden !important;
    overflow-x: hidden !important;}
    ion-content{
      background: #00f35b !important;
    }
    .inputs {
      background: #00f35b !important;
      text-align: left;
    }
  }
  