page-rota {
  ion-content{
    background: #00f35b !important;
  }
  ion-label{
    background: #00f35b !important;
    background-color: black;

  }
  ion-item{
    background: #00f35b !important;
  }
  #map {
    height: 80%;
  }
}
